/* 
  Website design and developed by DEVLOOSKIE
  Abuse contact: hello@looskie.com
  2021 - All rights reserved to creatable
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  -moz-transition: ease all 0.35s;
  -ms-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
}

/* Some variables for colors n stuff */

:root {
  --background-darkest: #222222;
  --background-dark: #3f3f3f;
  --text-darkest: #606060;
  --text-darker: #8e8e8e;
  --text-lightest: #c9c9c9;
  --accent: #ffdd6b;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: var(--background-dark);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

body {
  background: var(--background-darkest);
  color: var(--text-lightest);
  font-size: 16px;
  font-family: JetBrainsLight;
  overflow-x: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h1 {
  font-size: 40px;
  font-family: JetBrainsRegular;
  font-weight: 200;
}

a {
  position: relative;
  color: var(--text-darker);
  font-size: 28px;
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--text-darker);
  visibility: hidden;
}

a:hover:before {
  visibility: visible;
  width: 100%;
}

a:hover {
  color: var(--accent);
}

span {
  color: var(--accent);
}

p.about {
  max-width: 650px;
  margin-top: 25px;
  font-size: 19px;
}
p.credits {
  margin-left: 55px;
  color: var(--text-darkest);
}
a.credits {
  font-size: 16px;
}

.flexLeft,
.flexRight {
  flex: 50%;
}

.flexLeft {
  margin: 55px;
  text-align: left;
}

.socials-title {
  margin-top: 125px;
}

.socials-list {
  list-style: none;
}
.socials-item {
  margin-top: 15px;
}
.socials-item:first-child {
  margin-top: 20px;
}

.flexRight {
  display: flex;
  min-height: 95vh;
  align-items: center;
  justify-content: center;
}

.flexRight img {
  margin-right: 50px;
}

footer {
  margin-bottom: 25px;
}

.spin {
  animation: spin 1500ms ease;
  -webkit-animation: spin 1500ms ease;
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* Media queries */

/* Font faces  */
@font-face {
  font-family: JetBrainsLight;
  src: url("./fonts/JetBrainsMono-Light.woff2");
}

@font-face {
  font-family: JetBrainsRegular;
  src: url("./fonts/JetBrainsMono-Regular.woff2");
}
